* {
  box-sizing: content-box;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #f10086;
}

#My-Project {
  background-color: #f10086;
}

.img-size {
  width: 100%;
  height: 150px;
}

footer > p > a {
  text-decoration: none;
}

section {
  padding-top: 3.5rem;
}
